body {
  background-color: style="background-color: rgb(255, 255, 224);"
}
h1 {
  color: Black;
  text-align:center;
}

h5 {
  color: Black;
  text-align:right;
}

p {
  color: red;
  margin-left:30px; 
}
